extends ../layout

block content
  .container
    h2 Support Tickets
    p.lead
      | This is the list of most recent support tickets. Click the "Call customer" button to start a phone call from your browser.
    .row
      .col-md-4.col-md-push-8
        .panel.panel-primary.client-controls
          .panel-heading
            h3.panel-title Make a call
          .panel-body
            p
              strong Status
            #call-status.well.well-sm
              | Connecting to Twilio...
            button.btn.btn-lg.btn-success.answer-button(disabled="") Answer call
            button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Hang up
      